/* __Palette__
 *
 * Grey Background - #ddd
 * Black - #333
 * Main Blue #4aa1db
 * Gradient Blue - background: linear-gradient(to bottom, #4aa1db 0%, #64b0e2 100%);
 * Highlight Blue - #84c1e9
 * Background Highlight Blue - #d9edf7
 * White Panel - #eee
 * 
 * Fonts:
 * #111 or #333 for black
 * #888 or #999 for grey, depending on background
 * #fff for white
 *
 */

$grey: #ddd;
$black: #333;
$blue: #4aa1db;
$light-blue: #64b0e2;
$grad-blue: linear-gradient(to bottom, #4aa1db 0%, #64b0e2 100%);
$high-blue: #84c1e9;
$backhigh-blue: #d9edf7;
$white-panel: #eee;
$border-grey: #c6c6c6;

$dark-font: #333;
$dark-font-alt: #111;
$med-font: #888;
$med-font-alt: #999;
$light-font: #fff;

$font-default: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-code: 'Source Sans Pro', Consolas, Monaco, "Andale Mono", monospace;
$font-lato: 'Lato', cursive, sans-serif;