RewriteEngine On
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule !.*\.php$ %{REQUEST_FILENAME}.php [QSA,L]

ErrorDocument 404 "Error - Unable to connect to Database. Check MYSQL server is running. Contact jw715@bath.ac.uk if problem persist."
